openapi: 3.0.2
info:
  title: Ingest Service
  version: '1.0'
  description: |-
    The ingest service is a multi-region IWS web service that receives Alertlogic customer data and routes it to any number of destinations including:

    * Real-Time Export (RTE) json data sent to kinesis streams for
    processing by internal teams for Alertlogic products
    use by customers for custom value add
    * The daccess service for long-term storage and search
  contact:
    name: Alert Logic Support
    email: support@alertlogic.com
servers:
  - url: 'https://api.cloudinsight.alertlogic.com'
    description: production
    x-alertlogic-session-endpoint: true
  - url: 'https://api.cloudinsight.product.dev.alertlogic.com'
    description: integration
    x-alertlogic-session-endpoint: true
paths:
  /ingest/v1/types:
    get:
      summary: Get types
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: List of data types.
                items:
                  type: object
                  description: Data Type Object
                  properties:
                    name:
                      type: string
                      description: Data Type Name
      operationId: get_types
      description: |+
        Return a list of all supported data stream types.


      security:
        - X-AIMS-Auth-Token: []
  '/ingest/v1/type/{type}':
    get:
      summary: Get Type Attributes
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestTypeInfo'
      operationId: get_type_attributes
      description: "Return the attributes of a data type.\n\nAll type attributes are static with the exception of packet and packet_versions. \nAs such, defining <<\\\"latest\\\">> as the version to fetch for packet will return the most recent version. Leaving version undefined while fetching packet will also return the same as <<\\\"latest\\\">>"
      security:
        - X-AIMS-Auth-Token: []
      parameters:
        - schema:
            type: array
            enum:
              - name
              - encodings
              - packet
              - packet_versions
              - export
            default: '[name, encodings, packet, packet_versions, export]'
            uniqueItems: true
          in: query
          name: attributes
          description: A list of type attributes to return. This option is used to return a specified set of type attributes instead of all possible type attributes.
        - schema:
            type: string
            default: 1.0.0
          in: query
          name: version
          description: "This is the version of the packet schema which the user would like to return. \nValues can be any of the form int.int.int"
    parameters:
      - schema:
          type: string
        name: accept
        in: header
        required: true
        description: The client must indicate the willingness to (at least) accept resources represented as application/json document in response to requests to this resource in order to understand response and/or error details.
      - schema:
          type: string
        name: type
        in: path
        required: true
        description: A data type managed by the service. The currently known types are available by calling `get_types` API
  '/ingest/v1/{account_id}/data/{type}':
    post:
      summary: Send Data
      operationId: send_data
      responses:
        '200':
          description: received
          content:
            text/plain:
              schema:
                type: string
        '307':
          description: Temporary Redirect
          headers:
            location:
              schema:
                type: string
              description: New URI
            retry-after:
              schema:
                type: integer
              description: Number of seconds the client should wait before retrying the request at the new location
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: Error Return Object
                properties:
                  error:
                    type: string
                    description: Error message indicating the failure in interpreting the entity body according to the parameter specified.
        '403':
          description: Invalid
          content:
            application/json:
              schema:
                type: object
                description: Error Return Object
                properties:
                  error:
                    type: string
                    description: Error message indicating the reason for the request being considered invalid.
        '404':
          description: Type Not Found
          content:
            application/json:
              schema:
                type: object
                description: Error Return Object
                properties:
                  error:
                    type: string
                    description: Error message indicating the type name which was invalid.
        '413':
          description: Payload Too Large
        '415':
          description: Invalid Encoding
        '503':
          description: Temporary Failure
          headers:
            retry-after:
              schema:
                type: integer
              description: Retry the same request after the number of seconds indicated.
          content:
            application/json:
              schema:
                type: object
                description: Error Return Object
                properties:
                  error:
                    type: string
                    description: The reason for the temporary inability to complete the request.
      description: Send data to the Ingest Service
      security:
        - X-AIMS-Auth-Token: []
      parameters:
        - schema:
            type: string
          in: query
          name: sid
          description: |-
            The appliance identifier

            This query parameter is required if the source of the data type is an appliance, and not a agent running on an customer system. This appliance to data types, such as, snmsgs which are IDS events generated on the appliance itself.
        - schema:
            type: string
          in: query
          name: chkpt
          description: The caller may use this for tracability of the records they send.
        - schema:
            type: boolean
            enum:
              - 'true'
              - 'false'
            default: 'false'
          in: query
          name: return_ingest_ids
          description: |-
            The caller may use this to receive the ingest_ids which is the unique identifier generated when the message is ingested. This can later be used to find the ingested message in daccess.

            This can then be decoded by first base64 decoding the message, decompress using the zlib library, and getting the unique ids through the use of the uuid library on every 16 bytes of the returned ingest_ids.

            The message can later be retrieved from daccess via the `Read Messages` API
        - schema:
            type: string
            enum:
              - alertlogic.com/json
              - alertlogic.com/syslog
              - snort.org/unified2
          in: header
          name: content-type
          description: |-
            The content-type header should be set to the encoding format of the data being sent.

            Each data type, supports a specific set of data encodings that can be specified, and they can be retrieved via the `Get Type Attributes` API

            Below is a list of supported content-types:
              * alertlogic.com/json
                * Use to send data types:
                  * `auditmsgs`
                  * `bdrmsgs`
                  * `fimdata`
                  * `hostmeta`
                  * `hoststate`
                  * `idsmsgs`
                  * `idsstats`
                  * `lmcstats`
                  * `logmsgs`
                  * `observation`
                  * `scmmsgs`
                  * `udrmsgs`
              * alertlogic.com/syslog
                * Use to send `syslog` data
              * snort.org/unified2
                * Use to send `snort unified2` data
          required: true
        - schema:
            type: string
            enum:
              - deflate
              - chunk
          in: header
          name: content-encoding
          description: 'Use the `content_encoding` to leverage both chunk encoding to stream larger bodies, as well as the standard compression types when sending data type encodings that do not natuarally compress the data. This will result in a much more efficent interaction for both the client as well as the service.'
        - schema:
            type: string
          in: query
          name: environ
          description: |
            The deployment environment to target with the API request. This parameter only applies when the service is running in the integration accounts, and is not supported in production.
      requestBody:
        content:
          alertlogic.com/json:
            schema:
              type: array
              description: Data to send to the Ingest service
              items:
                oneOf:
                  - $ref: '#/components/schemas/AuditMsgs'
                  - $ref: '#/components/schemas/BdrMsgs'
                  - $ref: '#/components/schemas/FimData'
                  - $ref: '#/components/schemas/HostMeta'
                  - $ref: '#/components/schemas/HostState'
                  - $ref: '#/components/schemas/IdsMsgs'
                  - $ref: '#/components/schemas/IdsStats'
                  - $ref: '#/components/schemas/LmcStats'
                  - $ref: '#/components/schemas/LogMsgs'
                  - $ref: '#/components/schemas/Observation'
                  - $ref: '#/components/schemas/ScmMsgs'
                  - $ref: '#/components/schemas/UdrMsgs'
          alertlogic.com/syslog:
            schema:
              type: string
              items:
                oneOf:
                  - $ref: '#/components/schemas/SyslogMsgs'
          snort.org/unified2:
            schema:
              type: string
              format: binary
              items:
                oneOf:
                  - $ref: '#/components/schemas/SnortUnified2'
        description: ''
        required: true
    parameters:
      - schema:
          type: string
        name: account_id
        in: path
        required: true
        description: AIMS Account ID
      - schema:
          type: string
        name: type
        in: path
        required: true
        description: |-
          Ingestion Data Type
          Below is the mapping between `type` and `data` models:

          * 'auditmsgs' -> AuditMsgs-0.0.2
          * 'logmsgs' -> SyslogMsg
          * 'snmsgs' -> SnortUnified2
          * 'observation' -> Observation-1.0.1
components:
  schemas:
    FimData:
      title: FimData
      type: object
      description: |-
        File Integrity Manager datas which carry information about files 
        on the operating system including, but not limited to creation, 
        modification, and deletion information.
      x-examples:
        FIM Event Example:
          ts: 1583953656
          host_id: 4a053698-59e2-4a82-b781-edb5e66715ca
          event_type: example_event_type
          path: example/path
          file_type: example_file_type
          file_name: example_file_name
          file_size: 123
          file_owner: example_file_owner
          file_group: example_file_group
          file_permissions: 777
          file_attributes: 444
          file_ctime: 1583953653
          file_atime: 1583953654
          file_mtime: 1583953655
          sha1_hash: 6bf26de67c119d28fa37985dff7fd6aa44a00b99
      properties:
        ts:
          type: integer
          format: int64
        host_id:
          type: string
        event_type:
          type: string
        path:
          type: string
        file_type:
          type: string
        file_name:
          type: string
        file_size:
          type: integer
        file_owner:
          type: string
        file_group:
          type: string
        file_permissions:
          type: integer
        file_attributes:
          type: integer
        file_ctime:
          type: integer
          format: int64
        file_atime:
          type: integer
          format: int64
        file_mtime:
          type: integer
          format: int64
        sha1_hash:
          type: string
      required:
        - ts
    ScmMsgs:
      title: ScmMsgs
      type: object
      description: Scan data sent from the tripwire agent containing scan results.
      x-examples:
        FIM Event Example:
          ts: 1583953656
          assets_id: 4a053698-59e2-4a82-b781-edb5e66715ca
          data: example SCM data bundle
      properties:
        ts:
          type: integer
          format: int64
        asset_id:
          type: string
        data:
          type: object
      required:
        - ts
        - data
    IdsMsgs:
      title: IdsMsgs
      description: |-
        Business Intelligence, Search, SOC Support, Threat Intelligence
      type: object
      properties:
        ts:
          type: integer
        ts_us:
          type: integer
        event_id:
          type: integer
        orig:
          type: boolean
        sig_rev:
          type: integer
        sig_id:
          type: integer
        sig_gen:
          type: integer
        ip_src:
          type: string
        ip_proxy:
          type: string
        ip_proxy_client:
          type: string
        ip_dst:
          type: string
        srcport:
          type: integer
        dstport:
          type: integer
        proto:
          type: integer
        class:
          type: integer
        priority:
          type: integer
        vlan:
          type: integer
        mpls:
          type: integer
        payload:
          type: object
        asset_id:
          type: string
      required:
        - ts
    AuditMsgs:
      title: AuditMsgs
      description: |-
        Audit Message from internal services containing information about actions 
        taken by actors within the backend.
      type: object
      x-examples:
        aetuner service audit message:
          actor_alrn: 'alrn:aims::1000001:account:1000001'
          reporter_alrn: 'alrn:aims::1000001:account:1000001'
          event_name: Update Analytic
          event_type: update_analytic
          event_ts: 1584103549
          object_alrn: 'alrn:aetuner::12345:'
          object_name: firewall/sda
          facility_type: api_endpoint
          facility:
            method: update_analytic
            endpoint: aetuner/v1/
          data:
            severity: high
            visibility: observation
          reason: testing
          data_encoding: alertlogic.com/json
          data_version: v1
      properties:
        actor_alrn:
          type: string
          description: |-
            Alert Logic Resource Name in the following format
            alrn:{service-name}:{location-id}:{account-id}:{resource-type}:{resource-id}
        reporter_alrn:
          type: string
          description: "Reporter's Alert Logic Resource Name"
        event_name:
          type: string
          description: ' The event being reported (human friendly)'
        event_type:
          type: string
          description: The event being reported (programatically friendly)
        event_ts:
          type: integer
          description: Epoch timestamp of the event
        object_alrn:
          type: string
        object_name:
          type: string
          description: "Affected object's name"
        facility_type:
          type: string
          enum:
            - api_endpoint
          description: Facility for the change
        facility:
          type: object
          description: Facility details
          required:
            - method
            - endpoint
          properties:
            method:
              type: string
            endpoint:
              type: string
        data:
          type: object
          description: |-
            Details of the event.
            A JSON object, limited to 4KB in size, that describes the event
        data_encoding:
          type: string
          default: alertlogic.com/json
          enum:
            - alertlogic.com/json
        data_version:
          type: string
          default: v1
          enum:
            - v1
        client_ip:
          type: string
          description: IP of the client which initiated an action
      required:
        - event_ts
        - facility
        - data
    UdrMsgs:
      title: UdrMsgs
      description: |-
        Usage Data Records to be consumed for creating bdrmsgs.
      type: object
      properties:
        entity_account_id:
          type: string
        entity_type:
          type: string
        entity_key_type:
          type: string
        entity_key:
          type: string
        entity_deployment_type:
          type: string
        entity_deployment_key:
          type: string
        entity_deployment_id:
          type: string
        actor_type:
          type: string
        actor_id_type:
          type: string
        actor_id:
          type: string
        reporter_type:
          type: string
        reporter_id_type:
          type: string
        reporter_id:
          type: string
        metric:
          type: string
        units:
          type: string
        data:
          type: string
        value:
          type: integer
          format: int64
        start_ts:
          type: integer
          format: int64
        end_ts:
          type: integer
          format: int64
      required:
        - start_ts
    BdrMsgs:
      title: BdrMsgs
      description: |-
        Billing data reports created by BOSS (bill of service service) 
        via processing of udrmsgs.
      type: object
      properties:
        entity_account_id:
          type: string
        entity_type:
          type: string
        entity_key_type:
          type: string
        entity_key:
          type: string
        entity_deployment_id:
          type: string
        udr_ingest_id:
          type: string
        billing_account_id:
          type: string
        subscription_id:
          type: string
        entitlement_type:
          type: string
        entitlement_dimension:
          type: string
        entitlement_value:
          type: integer
          format: int64
        billing_period_size:
          type: string
        billing_period_id:
          type: string
        metric:
          type: string
        units:
          type: string
        data:
          type: string
        value:
          type: integer
          format: int64
      required:
        - billing_ts
    IdsStats:
      title: IdsStats
      description: Statistics on IDS events counts
      type: object
      properties:
        create_ts:
          type: integer
          format: int64
        host_id:
          type: string
        appliance_id:
          type: string
        stats_type:
          type: string
        stats:
          type: string
      required:
        - create_ts
        - stats
    HostMeta:
      title: HostMeta
      description: Host meta data
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
        account_id:
          type: string
        host_uuid:
          type: string
        host_type:
          type: string
        data:
          type: string
        data_checksum:
          type: string
      required:
        - data
        - data_checksum
        - host_uuid
        - timestamp
    LmcStats:
      title: LmcStats
      description: Log message collect statistics sent from remote collectors.
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
        host_id:
          type: string
        inst_type:
          type: string
        physical_appliance_id:
          type: string
        appliance_id:
          type: string
        source_id:
          type: string
        source_type:
          type: string
        stream_id:
          type: string
        event_count:
          type: integer
          format: int64
        byte_count:
          type: integer
          format: int64
        application_id:
          type: string
      required:
        - timestamp
    LogMsgs:
      title: LogMsgs
      description: Log messages data typically sent directly from agents or from remote collectors.
      type: object
      properties:
        time_recv:
          type: integer
          format: int64
        pid:
          type: integer
          format: int64
        host_name:
          type: string
        facility:
          type: string
        program:
          type: string
        message:
          type: string
        header:
          type: string
      required:
        - time_recv
        - message
    HostState:
      title: HostState
      description: Endpoint security
      type: object
      properties:
        state_data:
          type: object
        host_id:
          type: string
        finding_type:
          type: string
        finding_source_version:
          type: string
        finding_source_type:
          type: string
        date_created:
          type: integer
          format: int64
      required:
        - date_created
        - state_data
    IngestTypeInfo:
      title: IngestTypeInfo
      type: object
      description: Data Type attributes
      properties:
        doc:
          type: object
          properties:
            description:
              type: string
            name:
              type: string
            fields:
              type: object
        encodings:
          type: array
          items:
            type: string
        export:
          type: object
          properties:
            description:
              type: string
            properties:
              type: string
            schema:
              type: string
            title:
              type: string
            type:
              type: string
        interval_size:
          type: integer
        name:
          type: string
        packet:
          type: object
          properties:
            associated:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  key:
                    type: string
                  fields:
                    type: array
                    items:
                      type: object
            index:
              type: array
              items:
                type: object
            interval_size:
              type: integer
            name:
              type: string
            primary:
              type: object
              properties:
                fields:
                  type: array
                  items:
                    type: object
                key:
                  type: array
                  items:
                    type: string
                name:
                  type: string
            version:
              type: string
        packet_versions:
          type: array
          items:
            type: string
        searchable:
          type: boolean
    SyslogMsgs:
      type: string
      title: SyslogMsgs
      description: "Syslog messages separated by `\\n`"
      format: binary
    SnortUnified2:
      type: string
      title: SnortUnified2
      description: "SnortUnified2 records"
      format: binary
    Observation:
      title: Observation
      type: object
      description: |-
        Analytic events defining a finding based on telemetry triggered in analytics engine
      x-examples:
        Excessive Logins Observation Example:
          type: 'security:bf/excessive-logins'
          ts: 1539162550
          id: 5D411B77-CC39-4DE2-8264-4A795668C41C
          cid: 123123
          severity: low
          authority: alertlogic/ae/lwa/excessive-logins/1.0
          scope:
            - 'arn:aws:ec2:us-east-1:123456789012:instance/i-9b93s3b1'
            - 'arn:aws:ec2:us-east-1:123456789012:instance/i-9b93s3b2'
            - 'arn:aws:ec2:us-east-1:123456789012:instance/i-9b93s3b3'
          start_ts: 1539160500
          end_ts: 1539161575
          visibility: prod
          class: some class
          subclass: some subclass
          summary: Excessive login attempts wizard@oz
          desc: 'The user wizard performed an excessive number (3) of failed login attempts from 95.58.255.62 on the host oz, located in the subnet subnet-2bf56a4, and VPC vpc-1a2b3c4d.'
          keys:
            'security:source_ip': 95.58.255.62
            'security:mechanism': ssh
            'security:username': wizard
            'security:host': oz
          properties:
            count: 3
            'security:subnet': subnet-2bf56a4
            'security:vpc': vpc-1a2b3c4d
          parents:
            - 'arn:iws:ingest:us-west-2:123123:logmsgs/095C0608-412E-4A33-81BE-8E95A33790AC'
            - 'arn:iws:ingest:us-west-2:123123:logmsgs/C52E33E4-EF8B-4437-AFB3-3595EB541107'
            - 'arn:iws:ingest:us-west-2:123123:logmsgs/02F2DD7E-95AB-4C6F-AD27-ECC22C270D96'
          path: example_path_string
          recommendations: Example full description of recommended actions for this observation or incident
          scope_type: examplescope_type_string
      properties:
        type:
          type: string
        ts:
          type: integer
          format: int64
        id:
          type: string
          format: binary
        cid:
          type: integer
          format: int32
        severity:
          type: string
        authority:
          type: string
        scope_type:
          type: string
        scope:
          type: array
          items:
            type: string
        start_ts:
          type: integer
          format: int64
        end_ts:
          type: integer
          format: int64
        visibility:
          type: string
        class:
          type: string
        subclass:
          type: string
        summary:
          type: string
        description:
          type: string
        keys:
          type: object
        parents:
          type: array
          items:
            type: string
        path:
          type: string
        recommendation:
          type: string
      required:
        - type
        - keys
        - properties
  securitySchemes:
    X-AIMS-Auth-Token:
      name: X-AIMS-Auth-Token
      type: apiKey
      in: header

